[submodule "Efficient-Teacher-Student-Distillative-Super-Resolution-Model"]
	path = Efficient-Teacher-Student-Distillative-Super-Resolution-Model
	url = https://github.com/ADVIKBAHADUR/Efficient-Teacher-Student-Distillative-Super-Resolution-Model
